body,
input,
.btn{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.5px;
}
.container{
    margin: 0 15px;
}

body{
    background: steelblue;
}
* a{
    -webkit-transition: all 0.13s linear;
    -moz-transition: all 0.13s linear;
    -o-transition: all 0.13s linear;
    transition: all 0.13s linear;
}
.dropdown .dropdown-toggle {
    display: none;
}
.sub-menu{
    padding: 0;
    margin-top: 10px;
    li {
        list-style: none;
        display: inline-block;
        margin-left: 20px;
        a{
            color: black;
            &:hover{
                color: rgba(black,0.5);
                text-decoration: none;
            }
        }
    }
}
.center{
    margin: 0 auto;
}

#message{
    height: 0;
    overflow: hidden;
    #lbltipAddedComment{
        opacity: 0;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}

#pword,
#username {
    padding-left: 30px;
}

.dropdown{
    position:absolute;
    border-top: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    > li > a:hover{
        background-color: rgba(black,0.6);
        color: white;
        border-color: rgba(black,0.6);
    }
    .well{
        border-radius: 0 0 4px 4px;
        margin-bottom: 0;
        background:rgba(palegoldenrod,0.45);
    }
    .btn-sm{
        margin-top: 10px;
    }
}

.side-menu {
    background: rgba(powderblue,0.4) !important;
}


.usr-thumb {
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.navbar {
    border-radius: 0;
    background: gold;
    border: none;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background: rgba(black,0.2);
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: rgba(black,0.4);
}
.nav > li > a:hover, 
.nav > li > a:focus,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    background:rgba(paleturquoise,0.2);
}
.well{
    background:azure;
    border-color: rgba(black,0.2);
    padding: 19px 0;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle, {
    background-color: rgba(black,0.2);
    border-color: rgba(black,0.2);
}
.navbar-default .navbar-collapse{
    border: none;
}
.nav-tabs{
    border-bottom: none;
}

.range {
    display: table;
    position: relative;
    height: 25px;
    margin: 10px 0;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgba(red,0.8);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgba(red,0.8);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    color: steelblue;

}

@media screen and (max-width: 480px) {

    .dropdown{
        position:absolute;
        border-top: solid 1px rgba(black,0.2);
    }

}